---
layout: layout.liquid
title: Earbuds
---



<h2>Earbuds</h2>
<p>Wireless earbuds, the internals got messed up after I attempted to fix it after one too many drops</p>

<img class="hero-img" src="/images/earbuds.png" alt="Earbuds">

<h3>Why I can't leave without them</h3>
<p>Wireless earbuds on the walk feel safer than headphones and I like to have music in my ears all the time</p>
