---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>3 things in my pockets</h1>

<ul>
  <li><a href="/thermal/">Small Thermal Cup</a></li>
  <li><a href="/tablet/">Tablet</a></li>
  <li><a href="/earbuds/">Earbuds</a></li>
</ul>