---
layout: layout.liquid
title: Tablet
---

<h2>Tablet</h2>
<p>Samsung S8 tablet, smaller than the ultra, too thin</p>

<img class="hero-img" src="/images/tablet.png" alt="Tablet in case">

<h3>Why I can't leave without it</h3>
<p>I can take handnotes without the bulk of notebooks</p>
