---
layout: layout.liquid
title: Small thermal cup
---

<h2>Small thermal cup</h2>
<p>A coffee-cup sized bottle</p>

<img class="hero-img" src="/images/thermal.png" alt="Small thermal cup">

<h3>Why I can't leave without it</h3>
<p>I prefer smaller bottles so I can remember to change the water</p>
