---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <header class="site-header">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/thermal/">Thermal cup</a></li>
          <li><a href="/tablet/">Tablet</a></li>
          <li><a href="/earbuds/">Earbuds</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="site-main inner">
    {{ content }}
  </main>

  <footer class="site-footer">
    <p>&copy; 2025 My Everyday Carry</p>
  </footer>

</body>
</html>